body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial;
}

button {
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
}

input {
  display: block;
  margin: 8px 0;
  padding: 8px;
  width: 250px;
  border-radius: 6px;
  border: none;
}

div {
  margin-top: 10px;
}